@charset 'utf-8';
@import '_normalize';
@import '_normalizeCustomConfig';
@import '_variable';
@import '_font';
@import '_debugger';

h1 {
  color: $colorWhite;
}

@keyframes loader {
  0% {transform: rotate(0);}
  75% {transform: rotate(90deg);}
  100% {transform: rotate(90deg);}
}
.preLoader {
  align-items: center;
  background-color: $colorMain;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
  transition-duration: $transitionL;
  &.loadComplete {
    transform: translateX(100vw);
    opacity: 0;
  }
  .loader {
    width: 80px;
    height: 80px;
    background-color: $colorSub;
    border-radius: 0.2rem;
    animation: 1s infinite cubic-bezier(0.5, 0, 0.5, 1.5) loader;
  }
}

.mainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/%27Calypso%27_Panorama_of_Spirit%27s_View_from_%27Troy%27_%28Stereo%29.jpg');
  background-size: cover;
}



// BOOTSTRAP NOTES & RESOLUTION REFERENCE
// iPhone SE = 320 * 568px
// iPhone 7 = 375 * 667px
// iPhone 7 Plus = 414 * 736px
// iPad & iPad mini = 768 * 1024px
// iPad Pro = 1024 * 1366px
// Macbook Air 13-inch = 1440 * 900px
// Macbook Pro 15-inch = 2560 * 1600px
// ----------------------------------
@media (min-width: 768px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}